/* about-content */
.contact-content {
  padding-bottom: 1.8rem;
}

.contact-content:last-child {
  padding-bottom: 0;
}

.contact-content h3 {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  font-family: var(--font-family-2);
  color: var(--dark-font-color);
  margin-bottom: 0.4rem;
}

.contact-content p {
  font-size: 1em;
  font-weight: 600;
  font-family: var(--font-family-1);
  color: var(--light-font-color);
  letter-spacing: 0.2px;
}

.founders {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  font-family: var(--font-family-2);
  color: var(--dark-font-color);
}

/* media-queries */
@media only screen and (min-width: 900px) and (max-width: 1599px) and (min-height: 1000px) {
  .contact-content {
    font-size: 1.2rem;
  }
}
