/* navbar */
.navbar {
  width: 100vw;
  background-color: var(--l-secondary-bg);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

/* navbar-container */
.navbar-container {
  width: 100%;
  padding: 0.5rem var(--padding-inline);
  color: #fff;
}

/* logo */
.logo {
  font-size: 2.2rem;
  font-family: var(--font-family-1);
  font-variant: small-caps;
  letter-spacing: 0.6px;
  word-spacing: 2px;
  color: var(--l-dark-font-color);
}

.logo .dotcom {
  text-transform: lowercase;
  font-size: 1.5rem;
}

/* nav-links */
.nav-links {
  gap: 2rem;
}

.nav-links li a {
  color: var(--l-light-font-color);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  font-family: var(--font-family-2);
  transition: all 0.2s linear;
}

/* working of hover only on pc */
@media (hover: hover) {
  .nav-links li a:hover,
  .nav-links li a.active-nav-link {
    color: var(--l-dark-font-color);
  }
}
