/* navbar */
.navbar {
  width: 100vw;
  background-color: var(--secondary-bg);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

/* navbar-container */
.navbar-container {
  width: 100%;
  padding-block: 1rem;
}

/* logo */
.navbar-container .logo {
  font-size: 5rem;
}

/* nav-links */
.nav-links {
  gap: 2rem;
}

.nav-links li a {
  color: var(--light-font-color);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  font-family: var(--font-family-2);
  transition: all 0.3s linear;
}

/* working of hover only on pc */
@media (hover: hover) {
  .nav-links li a:hover,
  .nav-links li a.active-nav-link {
    color: var(--primary-color);
  }
}

/* switch-mode-icon */
.switch-mode-btn {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--dark-font-color);
  cursor: pointer;
  color: var(--secondary-bg);
  display: grid;
  place-items: center;
  font-size: 3.2rem;
  transition: all 0.8s linear;
  transform: rotate(0deg);
}

/* working of hover only on pc */
@media (hover: hover) {
  .switch-mode-btn:hover {
    transform: rotate(360deg);
  }
}

/* toggle-menu-btn */
.toggle-menu-btn {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  position: relative;
  transition: all 1s ease-in;
}

.toggle-menu-btn:hover {
  transform: rotate(-45deg);
}

.toggle-menu-btn span {
  width: 60%;
  height: 0.4rem;
  background-color: var(--pure-color);
  transition: all 0.4s linear;
  border-radius: 1px;
}

.toggle-menu-btn:hover > span:nth-child(1) {
  opacity: 0;
}

.toggle-menu-btn:hover > span:nth-child(2) {
  position: absolute;
}

.toggle-menu-btn:hover > span:nth-child(3) {
  position: absolute;
  transform: rotate(-90deg);
}

/* media-queries */

/* width >= 1528px && height >= 920px */
@media only screen and (max-width: 1528px) and (min-height: 920px) {
  .navbar-container .logo {
    font-size: 5.5rem;
  }

  .nav-links li a {
    font-size: 2.3rem;
  }

  .switch-mode-btn {
    width: 6rem;
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 1527px) and (min-height: 1000px) {
  .navbar-container .logo {
    font-size: 4rem;
  }

  .nav-links {
    gap: 1.5rem;
  }

  .nav-links li a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1150px) and (min-height: 920px) {
  .navbar-container {
    flex-direction: column;
    gap: 2rem;
  }
  .nav-links {
    gap: 2.5rem;
  }
  .nav-links li a {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 850px) and (min-height: 900px) {
  .navbar-container {
    flex-direction: column;
    gap: 2rem;
  }
}
