/* courses-container */
.courses-container {
  width: 100%;
}

.courses-container .ug-courses {
  margin-bottom: 3rem;
}

/* courses-cards-container */
.courses-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

/* course-card */
.course-card {
  background-color: var(--secondary-bg);
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  transition: all 0.5s linear;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.course-card h4 {
  color: var(--dark-font-color);
  font-size: 1.3em;
  font-weight: 600;
  font-family: var(--font-family-2);
  margin-bottom: 0.3rem;
  transition: all 0.5s linear;
}

.course-card h6 {
  color: var(--light-font-color);
  font-size: 0.8em;
  font-weight: 600;
  font-family: var(--font-family-2);
  transition: all 0.5s linear;
}

.course-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 100%;
  background-color: var(--primary-color);
  transition: all 0.5s linear;
  z-index: -1;
}

/* working of hover only on pc */
@media (hover: hover) {
  .course-card:hover::before {
    width: 100%;
    transition: all 0.5s linear;
  }

  .course-card:hover h4 {
    color: var(--pure-color);
    transition: all 0.5s linear;
  }

  .course-card:hover h6 {
    color: var(--pure-color);
    transition: all 0.5s linear;
  }
}
