/* footer */
footer {
  background-color: var(--secondary-bg);
  width: 100vw;
  padding: 2rem var(--padding-inline);
  color: var(--light-font-color);
  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.137);
}


footer p {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: var(--font-family-2);
  letter-spacing: 0.4px;
  word-spacing: 2px;
  font-weight: 500;
}
