/* google fonts changes--*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");

/* variables */
:root {
  /* colors for both modes */
  --primary-color: #ff0000;
  --pure-black: #000;
  --pure-white: #fff;

  /* for light mode */
  --l-pure-color: var(--pure-white);
  --l-primary-bg: #e1ebee78;
  --l-secondary-bg: var(--pure-white);
  --l-dark-font-color: #161617;
  --l-light-font-color: #414144;

  /* for dark mode */
  --d-pure-color: var(--pure-black);
  --d-primary-bg: var(--pure-black);
  --d-secondary-bg: #161617;
  --d-dark-font-color: var(--pure-white);
  --d-light-font-color: #e1ebee78;

  /* padding */
  --padding-inline: 10rem;

  /* font-family */
  --font-family-1: "Nunito", sans-serif;
  --font-family-2: "Poppins", sans-serif;
}

/* reset properties */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--dark-font-color);
  border-radius: 2.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2.5rem;
}

html {
  /* now 1rem = 10px  */
  font-size: 62.5%;
}

body {
  background-color: var(--primary-bg);
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* utilities classes */
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* .section-heading for section like courses, about and contact */
.section-heading {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--dark-font-color);
  text-transform: capitalize;
  font-family: var(--font-family-2);
  letter-spacing: 0.2px;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.section-heading::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  height: 0.2rem;
  width: 0%;
  background-color: var(--primary-color);
  bottom: -0.4rem;
  left: 0;
  animation: animate-section-heading-1 5s linear infinite alternate;
}

.section-heading::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 1rem;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  left: 0%;
  border-radius: 50%;
  bottom: -0.8rem;
  animation: animate-section-heading-2 5s linear infinite alternate;
}

/* animation for section heading */
@keyframes animate-section-heading-1 {
  100% {
    width: 100%;
  }
}

/* animation for section heading */
@keyframes animate-section-heading-2 {
  100% {
    left: 100%;
  }
}

.padding-inline {
  padding-inline: var(--padding-inline);
}

.primary-color-text {
  color: var(--primary-color);
}

#section {
  padding-block: 3rem;
}

/* light mode */
.light-mode {
  --pure-color: var(--l-pure-color);
  --primary-bg: var(--l-primary-bg);
  --secondary-bg: var(--l-secondary-bg);
  --dark-font-color: var(--l-dark-font-color);
  --light-font-color: var(--l-light-font-color);
}

/* dark mode */
.dark-mode {
  --pure-color: var(--d-pure-color);
  --primary-bg: var(--d-primary-bg);
  --secondary-bg: var(--d-secondary-bg);
  --dark-font-color: var(--d-dark-font-color);
  --light-font-color: var(--d-light-font-color);
}
