/* google fonts changes--*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");

/* variables */
:root {
  /* --parent-color: #0004ff;
  --primary-bg: #000180;
  --l-primary-bg: #e1ebee78;
  --l-primary-font-color: #000180;
  --l-secondary-bg: var(--pure-white);
  --pure-white: #fff;
  --white-secondary: #e2edff; */

  /* primary color for both modes */
  --primary-color: #ff0000;

  /* for light mode */
  --pure-white: #fff;
  --l-primary-bg: #e1ebee78;
  --l-secondary-bg: var(--pure-white);
  --l-dark-font-color: #161617;
  --l-light-font-color: #414144;
  --l-one-mode-shadow: #00000014;
  --l-two-mode-shadow: rgba(0, 0, 0, 0.064);
  --l-border-color: rgba(128, 128, 128, 0.176);

  /* for dark mode */
  --pure-black: #000;
  --d-secondary-bg: #161617;
  --d-primary-bg: var(--pure-black);
  --d-white-font-color: #fff;
  --d-light-font-color: #e1ebee78;
  --d-one-mode-shadow: transparent;
  --d-two-mode-shadow: var(--active-theme-color);
  --d-border-color: #ada2a24d;

  --padding-inline: 10rem;

  --font-family-1: "Nunito", sans-serif;
  --font-family-2: "Poppins", sans-serif;
}

/* reset properties */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* now 1rem = 10px  */
  font-size: 62.5%;
}

body {
  background-color: var(--primary-bg);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* utilities classes */
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.primary-color-text {
  color: var(--primary-color);
}

/* light mode */
.light-mode {
  --primary-bg: #fff;
}

/* dark mode */
.dark-mode {
  --primary-bg: black;
}
