/* google fonts changes--*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");

/* variables */
:root {
  /* colors for both modes */
  --primary-color: #ff0000;
  --pure-black: #000;
  --pure-white: #fff;

  /* for light mode */
  --l-pure-color: var(--pure-white);
  --l-primary-bg: #e1ebee78;
  --l-secondary-bg: var(--pure-white);
  --l-dark-font-color: #161617;
  --l-light-font-color: #414144;

  /* for dark mode */
  --d-pure-color: var(--pure-black);
  --d-primary-bg: var(--pure-black);
  --d-secondary-bg: #161617;
  --d-dark-font-color: var(--pure-white);
  --d-light-font-color: #e1ebee78;

  /* padding */
  --padding-inline: 22rem;

  /* font-family */
  --font-family-1: "Nunito", sans-serif;
  --font-family-2: "Poppins", sans-serif;
}

/* reset properties */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--dark-font-color);
  border-radius: 2.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2.5rem;
}

html {
  /* now 1rem = 10px  */
  font-size: 62.5%;
}

body {
  background-color: var(--primary-bg);
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

/* utilities classes */
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* logo */
.logo {
  font-weight: 600;
  font-family: var(--font-family-2);
  text-transform: capitalize;
  color: var(--dark-font-color);
  display: inline-block;
}

.logo span:first-child {
  text-transform: capitalize;
  display: inline-block;
}

.logo span:last-child {
  text-transform: lowercase;
  font-size: 0.5em;
}

/* .section-heading for section like courses, about and contact */
.section-heading {
  font-size: 4.3rem;
  font-weight: 500;
  color: var(--dark-font-color);
  text-transform: capitalize;
  font-family: var(--font-family-2);
  letter-spacing: 0.2px;
  margin-bottom: 4rem;
  position: relative;
  display: inline-block;
}

.section-heading::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  height: 0.4rem;
  width: 0%;
  background-color: var(--primary-color);
  bottom: -0.8rem;
  left: 0;
  animation: animate-section-heading-1 5s linear infinite alternate;
}

.section-heading::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 2rem;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  left: 0%;
  border-radius: 50%;
  bottom: -1.5rem;
  animation: animate-section-heading-2 5s linear infinite alternate;
}

/* animation for section heading */
@keyframes animate-section-heading-1 {
  100% {
    width: 100%;
  }
}

/* animation for section heading */
@keyframes animate-section-heading-2 {
  100% {
    left: 100%;
  }
}

.common-padding-inline {
  padding-inline: var(--padding-inline);
}

.section-padding-block {
  padding-block: 5rem 2.5rem;
}

.section-seperater-line {
  border: 0;
  height: 0.2rem;
  width: calc(100vw - var(--padding-inline) * 2);
  background-color: var(--light-font-color);
  margin: 2rem auto;
}

.primary-color-text {
  color: var(--primary-color);
}

/* light mode */
.light-mode {
  --pure-color: var(--l-pure-color);
  --primary-bg: var(--l-primary-bg);
  --secondary-bg: var(--l-secondary-bg);
  --dark-font-color: var(--l-dark-font-color);
  --light-font-color: var(--l-light-font-color);
}

/* dark mode */
.dark-mode {
  --pure-color: var(--d-pure-color);
  --primary-bg: var(--d-primary-bg);
  --secondary-bg: var(--d-secondary-bg);
  --dark-font-color: var(--d-dark-font-color);
  --light-font-color: var(--d-light-font-color);
}

/* width <= 1800px && height >= 920px */
@media only screen and (max-width: 1800px) and (min-height: 920px) {
  :root {
    --padding-inline: 10rem;
  }
}

/* width <= 1527px && height >= 800px */
@media only screen and (max-width: 1528px) and (min-height: 800px) {
  html {
    font-size: 68%;
  }
}

/* width <= 1527px && height >= 920px */
@media only screen and (max-width: 1528px) and (min-height: 920px) {
  html {
    font-size: 78%;
  }
}

/* width <= 1527px && height >= 1000px */
@media only screen and (max-width: 1528px) and (min-height: 1000px) {
  html {
    font-size: 74%;
  }
  
  .section-heading {
    font-size: 5rem;
    margin-bottom: 6rem;
  }
  

  .section-heading::before {
    height: 0.4rem;
    bottom: -1.1rem;
  }

  .section-heading::after {
    width: 2.4rem;
    bottom: -2.1rem;
  }
}

/* width <= 1400px */
@media only screen and (max-width: 1400px) {
  :root {
    --padding-inline: 5rem;
  }
}

/* width <= 1400px && height >= 700px*/
@media only screen and (max-width: 1400px) and (min-height: 700px) {
  html {
    font-size: 68%;
  }
}

/* width <= 1400px && height >= 700px*/
@media only screen and (max-width: 1400px) and (min-height: 920px) {
  html {
    font-size: 75%;
  }
}

/* width <= 1000px && height <= 700px*/
@media only screen and (max-width: 1000px) and (max-height: 700px) {
  html {
    font-size: 56%;
  }
}

/* width >= 1528px && height >= 780px */
@media only screen and (min-width: 1528px) and (min-height: 780px) {
  html {
    font-size: 68%;
  }
}

/* width >= 1528px && height >= 920px */
@media only screen and (min-width: 1528px) and (min-height: 920px) {
  html {
    font-size: 78%;
  }

  .section-heading {
    font-size: 5rem;
    margin-bottom: 6rem;
  }

  .section-heading::before {
    height: 0.4rem;
    bottom: -1.1rem;
  }

  .section-heading::after {
    width: 2.4rem;
    bottom: -2.1rem;
  }
}

/* when 1850px >= width && height <= 780px  */
@media only screen and (min-width: 1850px) and (max-height: 779px) {
  html {
    font-size: 70%;
  }
}

/* when 2100px >= width && height >= 780px  */
@media only screen and (min-width: 2100px) and (max-height: 779px) {
  html {
    font-size: 82%;
  }
}

@media only screen and (min-width: 2100px) and (min-height: 780px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (min-width: 2100px) and (min-height: 920px) {
  html {
    font-size: 75%;
  }
}

/* when 2500px >= width && height <= 780px  */
@media only screen and (min-width: 2500px) and (max-height: 780px) {
  html {
    font-size: 90%;
  }
}

/* when 2800px >= width && height <= 919px  */
@media only screen and (min-width: 2800px) and (max-height: 919px) {
  html {
    font-size: 110%;
  }
}

/* when 2800px >= width && height >= 920px  */
@media only screen and (min-width: 2800px) and (min-height: 920px) {
  html {
    font-size: 95%;
  }
}
